<header fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start end" fxLayoutGap="10">
            <mat-icon color="primary" class="logoIcon">water_drop</mat-icon>
            <span class="logo">{{title}} </span> 
    </div>
    <div fxLayoutGap="10" fxLayoutAlign="start center">
        <div class="loginInf" *ngIf="!isLoggedIn"><a routerLink="/login">Zaloguj się</a> aby móc dodawać swoje rzeki</div>
        <button mat-raised-button color="primary" routerLink="/home">Strona główna</button>
        <button mat-raised-button color="primary" routerLink="/rivers">Rzeki</button>
        <span></span>
        <button *ngIf="isLoggedIn" mat-raised-button color="warn" routerLink="/" (click)="logout()" >Wyloguj</button>
        <button *ngIf="!isLoggedIn" mat-raised-button color="warn" routerLink="/login">Logowanie</button>
        <button mat-icon-button color="accent">
            <mat-icon class="listIcon" routerLink="/userlist" matBadge="{{userListCounter}}" matBadgeColor="warn">list_alt</mat-icon>
          </button>
    </div >
</header>