@import '../../../../variables.scss';
:host{
    background-color: $darkgray;
    padding: 20px;
}

.logo{
   font-size: 30px; 
   color: white;
}

.logoIcon{
    font-size: 26px;
    
}

.listIcon{
    font-size: 26px;

}