<mat-card>
    <mat-card-header>
        <mat-card-subtitle>Aktualizacja danych pomiarowych</mat-card-subtitle>
        <mat-card-title>Naciśnij przycisk aby wymusić pobranie danych od dostawcy i zaktualizowanie bazy
            danych.</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="update-button">
        <button mat-raised-button color="primary" (click)="update()">Aktualizuj</button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="isComplited"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
<mat-card>
    <mat-card-header *ngIf="statistics">
        <mat-card-title>Statystyki:</mat-card-title>
        <mat-card-subtitle>Liczba rzek w bazie danych: <strong>{{statistics.riverCount}}</strong> pozycji.</mat-card-subtitle>
        <mat-card-subtitle>Liczba pomiarów w bazie danych: <strong>{{statistics.measurementCount}}</strong> pozycji.</mat-card-subtitle>
        <mat-card-subtitle>Liczba użytkowników w bazie danych: <strong>{{statistics.userCount}}</strong></mat-card-subtitle>
    </mat-card-header>
</mat-card>