@import "../../../../variables.scss";

table{
    width: 100%;
    th{
        padding: 5px;
        text-align: center;
        color: black;
    }
    td{
        text-align: center;
        border-right: 1px solid gray;
        padding: 5px;
    }
}

.mat-column-stationId{
    width: 100px;
}

.mat-column-actions{
    width: 140px;
}

.listHeader h1{
    font-weight: bold;
    color: $primary;
}

.mat-column-image{
    width: 150px;
}

  