.home{
    width: 100%;
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2013/08/25/11/12/rafting-175603_1280.jpg");
    background-size: cover;
    background-position: 0 70%;
    opacity: 0.4;
}

.text{
 
}