<div fxLayout="column">
  <div class="warn-header">
    <h1>Edycja pozycji w bazie danych</h1>
  </div>
  <div fxLayout="row" class="warning" fxLayoutGap="5">
    <div>
      <mat-icon>warning</mat-icon>
    </div>
    <div>
      <h4>Uwaga: Edycja i zapisanie danych w tych polach spowoduje zmiany dla wszystkich użytkowników systemu!</h4>
    </div>
  </div>
</div>

<form fxLayout="column" [formGroup]="riverForm" (submit)="submit()">
  <app-admin-river-form [parentForm]="riverForm"></app-admin-river-form>
</form>

<img *ngIf="image" src="{{'/api/data/riverImage/' + image}}" width="250">

<form [formGroup]="imageForm" (submit)="uploadFile()">
  <input type="file" [accept]="requiredFileTypes" (change)="onFileChange($event)">
  <button mat-flat-button color="accent">Upload</button>
</form>