<h1>Moja lista rzek</h1>
<h2 *ngIf="!userList?.items?.length">Lista jest pusta</h2>
<mat-card *ngFor="let river of userList?.items">
  <div flexLayout="row">
    <div flexLayout="column" fxFlex>
      <mat-card-title><a routerLink="{{'/rivers/' + river?.river?.stationId}}">{{river?.river?.riverName}}</a></mat-card-title>
      <mat-card-subtitle>{{river?.river?.region | titlecase}}</mat-card-subtitle>
      <div flexLayout="row">
        <a routerLink="{{'/rivers/' + river?.river?.stationId}}">
          <img *ngIf="!river?.river?.image" src="../../../assets/image-placeholder.png" mat-card-sm-image class="riverImage">
          <img *ngIf="river?.river?.image" src="{{'/api/data/riverImage/'+river?.river?.image}}" mat-card-sm-image class="riverImage">
        </a>
        <mat-card-content fxFlex class="riverContent">Stacja: {{river?.river?.stationName}}</mat-card-content>
      </div>
    </div>
    <div>
      <div class="riverLevel">{{river?.river?.waterLevel}} cm</div>
    </div>
  </div>
  <mat-card-actions align="end" fxLayoutGap="10">
    <button mat-flat-button color="primary" routerLink="{{'/rivers/' + river.id}}">Pokaż</button>
    <button mat-flat-button color="warn" (click)="deleteRiver(river.id)">Usuń</button>
  </mat-card-actions>
</mat-card>
<!-- <mat-paginator *ngIf="page && page.totalElements > 0" [length]="page.totalElements" [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 50]" aria-label="Select page" (page)="onPageEvent($event)">
</mat-paginator> -->
